:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul,
p,
a {
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
}
p {
  text-align: center;
  color: black;
}

.search-form {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: blue;
}
.search-form > input {
  width: 200px;
  height: 30px;
  border-radius: 2px;
  border: 0px solid;
}
.search-form > button {
  background-color: transparent;
  border-color: transparent;
  margin-left: -30px;
  width: 30px;
  height: 30px;
}

.gallery {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 325px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  border-radius: 3px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image {
  max-height: 255px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.info {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.load-more {
  font-size: medium;
  display: none;
  padding: 15px 25px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f8f8f8;
  background-image: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1));
  border: 1px solid #ccc;
  border-radius: 5px;
}
.load-more:hover {
  background-color: #8cf;
  cursor: pointer;
}
